ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  //table layout
  &.layout-0 {
    padding: 10px;
    li {
      flex: 1 0 40%;
      margin: 0;
      height: 80px;
      border-bottom: solid 1px #223b50;
      &:nth-child(5),
      &:nth-child(6) {
        border-bottom: none;
      }
    }
  }
  //row layout
  &.layout-1 {
    padding: 10px;
    li {
      flex: 1 0 100%;
      height: auto;
    }
  }

  //chart layout
  &.layout-2 {
    padding: 14px;
    li {
      width: 100%;
      justify-content: center;
    }
  }
}
