:host {
  // border: 1px dashed #f0f;
  display: block;
  width: 32.3%;
  margin: 0 9px;
  .title {
    opacity: 0.6;
    margin-bottom: 5px;
    padding: 0 1px;
  }
  .progress {
    height: 39px;
    padding: 0 10px;
    line-height: 39px;
    background-color: #254a69;
  }
}
