.count {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.6;
}

.label {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.6;
}
