:host {
  // border: 1px dashed #f0f;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.count {
  font-size: 14px;
  opacity: 0.6;
}

.label {
  font-size: 20px;
  opacity: 0.6;
}
