.container {
  .count {
    font-size: 20px;
    line-height: 35px;
    opacity: 0.6;
    text-align: left;
  }

  .label {
    font-size: 14px;
    line-height: 25px;
    opacity: 0.6;
    text-align: left;
  }
}
