.container {
  width: 100%;
  .legend {
    width: 50%;
    opacity: 0.6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 14px;
    justify-content: space-between;

    .item {

      .text {
        font-size: 14px;
      }
      .count {
        font-size: 20px;
      }
    }
  }
}
